@page "/examples"

<PageTitle>Examples</PageTitle>

<h1>Examples - Practices C# & .NET</h1>

<div class="product">
    <h2>Teclado</h2>
    <img src="https://i.pinimg.com/1200x/c1/21/84/c12184fd6ecdfa846a5a7b91f888553e.jpg"  alt="teclado"/>
</div>