h2[b-zqd7kke83s]{
    margin-top: 5%;
}

.product img[b-zqd7kke83s]{
    width: 30%;
    height: auto;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 2%;
    box-shadow: 10px 10px rgba(128, 128, 128, 0.307);
}